* {
    font-family: sans-serif;
}

html {
    font-size: 10px;
}

/* MARGINS */
.mt-8 {
    margin-top: 4rem;
}
.mt-4 {
    margin-top: 2rem;
}

.mt-2 {
    margin-top: 1rem;
}

.mb-0 {
    margin-bottom: 0;
}

.mb-6 {
    margin-bottom: 6rem;
}

.ml-4 {
    margin-left: 2rem;
}

.mr-4 {
    margin-right: 2rem;
}

.mr-8 {
    margin-right: 4rem;
}

.mr-2 {
    margin-right: 1rem;
}

/* PADDING */
/* .pt-4 {
    padding-top: 20px;
} */

.px-8 {
    padding: 0 40px;
}


/* COLORS */
.txt-s-white {
    color: white;
}

/* TEXT */
.txt-sz-1 {
    font-size: 1.5rem;
}

.txt-sz-2 {
    font-size: 2rem;
}

.txt-sz-3 {
    font-size: 2.5rem;
}

.txt-sz-4 {
    font-size: 3rem;
}

.txt-sz-5 {
    font-size: 4rem;
}

.txt-underline {
    text-decoration: underline;
}

.txt-space-2 {
    letter-spacing: 2px;
}

.txt-space-1 {
    letter-spacing: 1px;
}

/* .txt-color-primary {
    color: #34d986;
} */

/* NAVBAR */
.navbar-bg {
    background-color: #060806;
}

.navbar-toggler {
    width: 20px;
    height: 20px;
    position: relative;
    transition: .5s ease-in-out;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: 0;
    position: relative;
}

.navbar-toggler span {
    margin: 0;
    padding: 0;
}

.toggler-icon {
    display: block;
    position: absolute;
    height: 3px;
    width: 100%;
    background: #34d986;;
    border-radius: 1px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.middle-bar {
    margin-top: 0px;
}

/* when navbar is collapsed */
.navbar-toggler.collapsed .top-bar {
    position: absolute;
    top: 0px;
    transform: rotate(0deg);
}

.navbar-toggler.collapsed .middle-bar {
    opacity: 1;
    position: absolute;
    top: 10px;
    filter: alpha(opacity=100);
}

.navbar-toggler.collapsed .bottom-bar {
    position: absolute;
    top: 20px;
    transform: rotate(0deg);
}

/* when navigation is clicked */
.navbar-toggler
.top-bar {
    top: inherit;
    transform: rotate(135deg);
}

.navbar-toggler
.middle-bar {
    opacity: 0;
    top: inherit;
    filter: alpha(opacity=0);
}

.navbar-toggler
.bottom-bar {
    top: inherit;
    transform: rotate(-135deg);
}

.nav-link {
    font-size: 90%;
}

.nav-link:hover {
    color: #34d986;
    text-decoration: underline;
    /* underline animate left to right */
}


/* HOMEPAGE */
.hp-container {
    height: 100vh;

    background-image: url(/../images/hp-image-final.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;

    color: white;
    position: relative;
}

.heading-container {
    width: 50%;
    height: 100%;
    padding: 40px;
}

.social-icon {
    width: 30px;
}

.social-icon:hover {
    transform: scale(1.2);
}

hr {
    left: 50%;
    margin: 0 auto;
    width: 18rem;
    border: 1px;
    border-style: solid;
    border-color: #34d986;
    opacity: 75%;
}


/* ABOUT */
.hr-about {
    width: 16rem;
}

.about-container {
    color: white;
    background-color: #080808;
    padding: 24px 40px;
}

.about-img{
    width: 100%;
}


/* PORTFOLIO */
.portfolio-container {
    color: rgba(52, 217, 134, 0.0);
    transition: .3s ease-out;
    background-color: #080808;
    padding: 24px 40px;
}

.hr-portfolio {
    width: 18rem;
}

.hover-overlay {
    background-color: rgba(0,0,0,0.0);
    transition: .3s ease-out;
}

.hover-overlay:hover {
    background-color: rgba(0,0,0,0.7);
    transition: .3s ease-in;
    cursor: pointer;
}

.hover-overlay:hover > .txt-container {
    color: rgba(52, 217, 134, 1.0);
    transition: .2s ease-in;
}


/* CONTACT */
.contact-container {
    background: #080808;
    padding: 30px 40px;
}

.hr-contact {
    width: 15rem;
}

.contact-btn {
    background-color: black;
    border: solid #34d986;
    color: #34d986;
}
.contact-btn:hover {
    background-color: #34d986;
    border: solid #34d986;
    color: black;
    transition: .3s ease-in-out
}

.alert-container {
    border: 4px solid #34d986;
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -30%);
}

.hr-alert {
    width: 12rem;
}

.alert-btn {
    background-color: #34d986;
    border: solid #34d986;
    color: white;
}

.alert-btn:hover {
    background-color: white;
    border: solid #34d986;
    color: #34d986;
}

/* FOOTER */

.footer-container {
    border-top: solid #34d986;
}

.list-policies-links a {
    text-decoration: none;
    color: white;
}

.list-policies-links a:hover {
    text-decoration: underline;
    color: #34d986;
}

.vertical-center {
    display: grid;
    align-items: center;
}

p {
    margin-bottom: 0;
}


/* RESPONSIVE */
@media screen and (min-width: 768px) {
    .portfolio-container {
        height: 100vh;
    }
}


@media screen and (max-width: 1280px) {
    .heading-container {
        padding: 30px;
        width: 75%;
    }
}

@media screen and (max-width: 500px) {
    .heading-container {
        padding: 20px;
        width: 90%;
    }
}
